


div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: colorTransform;
    animation-duration: colorTransform 4s infinite;
    
}
/* @keyframes moveColor {
     0% {background-color: red; left: 0; top: 0;}
    25% {background-color: yellow; left: 150px; top:150px;}
    50% {background-color: green; left: 300px; top: 300px;}
    75% {background-color: blue; left: 450px; top: 450px;}
    100% {background-color: purple; left: 600px;top:600px;} */
  
/* } */
@keyframes colorTransform{

    0% {background-color: red; }
    25% {background-color: yellow; }
    50% {background-color: green; }
    75% {background-color: blue; }
    100% {background-color: purple; }
  
}
